INITIAL_USER_PASSWORD=
SESSION_SECRET=

INITIAL_USER_USERNAME=admin
PORT=3000
NODE_ENV=development
REDIS_URL=redis://localhost:6379
COOKIE_DOMAIN=localhost
DATABASE_URL=postgresql://postgres@localhost:5432/myapp
NODE_OPTIONS="--localstorage-file=./tmp-local-storage"
