doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= "My App - " + (title || "Welcome")
    link(rel="icon" href="/public/favicon.ico")
    link(rel="stylesheet" href="/public/pages/base.css")
    block stylesheets
    block head

  body
    include mixins/csrf
    block content